/*Estilos del index*/
* {
    margin: 0;
    /*Elimina el margen por defecto de todos los elementos html*/
    padding: 0;
    /*Elimina márgenes internos de cada componente*/
    /*Definimos el modelo de cajas para navegadores basados en webkit, 
    googleChrome, internet explorer, edge*/
    -webkit-box-sizing: border-box;
    /*Definimos el modelo de cajas para navegadores basados 
    en mozilla, firefox*/
    -moz-box-sizing: border-box;
    /*Definimos el modelo de cajas para navegadores basados 
    en el estandar CSS3*/
    box-sizing: border-box;
}

/*Definimos estilo para el body*/
body {
    font-family: "Open Sans", Arial, Sans-serif;
    font-size: 16px;
}

/*Trabajamos en los estilo de la clase contenedor*/
.contenedor {
    /*Definir ancho de contenedor*/
    width: 90%;
    /*Definimos el color de fondo del contenedor*/
    background-color: rgb(136, 167, 167);
    /*Definimos anchura máxima del contenedor*/
    max: width 1000px;
    /*Definimos el margen en automático para centrar el contenedor*/
    margin: auto;
    /*Ocultamos el desboradamiento del contenedor*/
    overflow: hidden;
}

/*Damos estilo al header*/
header {
    /*Definimos header a un %100*/
    width: 100%;
    background: url(../img/bg.jpg) #281a0c;
    /*Si no encuentra imagen , usa el color*/
    background-size: cover;
    /*Imagen cubre todo el contenedor, para fondos ROSETA*/
    background-attachment: fixed;
    /*La imagen se queda quieta con el scroll*/
    background-position: center 0;
}

/*Damos estilo al header y que busque una clase que se llame contenedor*/
header .contenedor {
    position: relative;
    height: 1000px;
    /*La imagen se va a adaptar al tamaño de contenedor gracias a background-attachment:cover;*/
}

/*Damos estilos al menú dentro del header*/
header .menu {
    /*Le damos el tamaño de la anchuta*/
    width: 100%;
    /*Le decimos que alinee el texto a la derecha*/
    text-align: right;
}